.app-describe {
    position: relative;
    padding: 1.5rem;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}
.app-title{
	width:100%;
	height:3.2rem;
	padding:0 0.5rem;
	box-sizing: border-box;
}
.app-title{
	display:flex;
	flex-direction: column;
}
.app-title label{
	font-size:1.1rem;
	font-weight:600
}
.app-tag{
	font-size:0.8rem;
	color:#4e4e4e;
	width:100%;
	height:2rem;
	padding:0 0.5rem;
	box-sizing: border-box;
	display:flex;
	align-items: center;
}
.app-tag span{
	margin-right:0.3rem
}
.app-contents{
	width:100%;
	margin:1.5rem 0;
	font-size:0.8rem;
	height:3rem;
	overflow:hidden
}
.app-btn{
	width:100%;
}
.btn{
	padding:0.5rem 2rem;
	border:1px solid #595959
}
.app-pic, .app-pic-list {
    position: relative;
    padding: 0 0.5rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.app-pic img, .app-pic-cell img {
    width: 100%;
    z-index: 0;
}
.other-point{
	margin:3rem 0 1rem
}
.relate{
	width:30vw
}
.app-pic-list {
    position: relative;
    padding: 0 0.5rem;
    overflow: hidden;
}
.app-pic-cell,.app-pic-cell-small{
    position: relative;
    width: 100%;
    margin-bottom: 1rem;	
}
.app-pic-cell {
    height: 30.5rem;
}
.app-pic-cell-small{
	height:20rem
}
.swiper-slide img,.app-pic-cell img,.app-pic-cell-small img {
	width:100%;
}
.geo-transform {
    width: 69vw;
    height: 7rem;
    background: #fff;
    box-sizing: border-box;
    padding: 1rem;
    position: absolute;
    left: 1.5vw;
    bottom: 0;
}
.geo-transform .geo-label {
    font-size: 1.0rem;
    height: 3rem;
}
.geo-transform .label-content {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#757575
}
.geo-transform label {
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.0rem;
    color: #1a1712;
}
.label-content .label-cell{
	width:40vw;
	display:flex;
	height:2rem;
	align-items: center;
}
.label-cell img{
	width:1.0rem;
	height:1.0rem;
	margin-right:2vw;
}
.label-cell img:nth-child(2){
	margin-left:5vw
}
.geo-transform span {
    font-size: 0.8rem;
}
.read-more {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem
}
.read-more img{
	width:30vw;
}
.app-pro-list{
	width:100%;
	height:32rem;
}
.swiper-containers{
    width:120%;
    height:32rem;
    margin-left:-24%
}
.swiper-slide{
    width:60%;
    font-size:18px;
    align-items:center;
    display:flex;
}
.heart-card img {
    width: 1rem;
    height: 1rem;
}
