<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>关于我们</title>
    <link rel="stylesheet" href="css/rem.css" />
    <link rel="stylesheet" href="css/iconfont.css" />
    <link href="css/swiper.min.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/buildList.css" />
    <link rel="stylesheet" href="css/about.css" />
</head>
<body>
    <div class="container">
        <div class="app-wrapper">
            <div class="bck pink">
                <p>About Redefining</p>
            </div>
			<header class="global-nav">
				<div class="primary-wrapper module-pad">
					<div class="primary-container">
						<a class="logo">
							<img src="img/logo.png" />
						</a>
						<div class="icons">
							<i class="icon iconfont icon-daohangpinlei"></i>
							<i class="icon iconfont icon-guanbi"></i>
						</div>
					</div>
					<!-- 导航 -->
					<div class="slide-navlist" id="1">
						<ul class="slidenav-cells">
				
						</ul>
						<div class="nav-login">
							<button class="btns" id="login">登录 / 注册</button>
							<div class="login-success">
								<a href="personLoginOut.html"><img src="img/person_pic.png" /></a>
								<span id="loginOut">退出登录</span>
							</div>
							<button class="btns" id="price">快速报价</button>
							<p>热线  4008-513-228</p>
						</div>
					</div>
				</div>
			</header>
			<section class="app-content">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide">
				        	<img src="img/about_banner.png" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/about_banner.png" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/about_banner.png" />
				        </div>
				    </div>
			    </div>
			</section>
        </div>
        <div class="design">
            <div class="bottom-content-cell">
                <div class="middle-detail">
                	<span>概要</span>
                </div>
                <div class="middle-text">
                    <label></label>
                    <p>
                                                             北京睿缔建筑设计有限公司（Redefining Habitat）是一家缔造理想人居的新型跨界机构。北京睿缔建筑设计有限公司（简称：睿缔建筑）定位于为中国精英实现居住理想。致力于为中国精英人群提供“别墅、豪宅、会所空间设计，软装、木石产品定制设计，庭院园林设计，生态设计，深化设计，土建结构设计，土建工程实施等服务。
                    </p>
                    <p>
                        “Redefining”中文为“再定义”，亦为睿缔建筑的名称来源。于睿缔建筑是一种精神、一种象征，是睿缔成为颠覆一个行业，定义一个产业，创造一个产业的巨大力量；成为中国建筑装饰界的ICON的核心理念。建筑装饰业在时代的快速发展中面临着急剧的变革。睿缔团队行走在一线市场前沿，对整个行业有着深刻、透彻的理解；睿缔团队是有思想和具备创新意识的团队，一直在思索居住本源，探索产业未来，重创产业模式。团队一边深刻了解业主需求、追溯中国人文思想，一边遍访发达国家的大师及精英团队，上下探索，终究完善了自己的思想体系，创立了崭新境界的产业格局。
                    </p>
                </div>	
            </div>
        </div>
		<div class="other-point now-this">
			<span class="relate">企业文化</span>
			<div class="other-line"></div>
		</div>   
        <div class="company-culture">
        	<img src="" class="culture-big" />
        	<img src="" class="culture-small" />
        	<img src="" class="culture-small" />
        	<img src="" class="culture-small" />
        	<img src="" class="culture-small" />
        </div>
		<div class="other-point now-this" id="contact">
			<span class="relate">联系我们</span>
			<div class="other-line"></div>
		</div> 
		<div class="company-culture">
			<div id="allmap">
			</div>
			<div class="result-submit">
				<div class="result-title">通过邮件咨询</div>
				<div class="result-cell">
					<span>称谓</span>
					<input type="text" id="call" />
				</div>
				<div class="result-cell">
					<span>姓名</span>
					<input type="text" id="name" />
				</div>	
				<div class="result-cell">
					<span>手机号</span>
					<input type="text" id="phone" />
				</div>
				<div class="result-cell">
					<span>电子邮件</span>
					<input type="text" id="email" />
				</div>
				<div class="result-cell">
					<span>留言</span>
					<textarea type="text" id="text">
					</textarea>
				</div>
				<div class="result-cell">
					<button class="btn btn-submit reqMsg" id="submit">提交</button>
				</div>
			</div>
		</div>
		<div class="other-point now-this" id="work">
			<span class="relate">工作机会</span>
			<div class="other-line"></div>
		</div> 
		<div class="company-culture">
			<div class="email-title">招聘岗位</div>
			<ul class="email-cells">
			</ul>
		</div>
		<div class="other-point">
			<span class="relate">Other  related</span>
			<div class="other-line"></div>
		</div>
		<div class="category">

		</div>	
	    <div class="footer">
	    	<img src="img/bottom-logo.png" class="footer-logo" />
		  	<div class="bottom-nav">
		  	    <span>签约合作</span>
		  	    <span>联系我们</span>
		  	    <span>工作机会</span>
		  	    <span>法律信息</span>
		  	</div>
		  	<div class="bottom-down">
		  		<span>关注 Redefining</span>
		  		<div class="bottom-logo">
		  			<img src="img/sina.png" />
		  			<img src="img/weixin.png" />
		  			<img src="img/QQ.png" />
		  		</div>
		  	</div>
		  	<p>京公网安备11010502025574 · 京ICP证150031号</p>
	    </div>
	</div>
    <div id="dialogs">
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd"></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>
    </div>
    <script id="change" type="text/html">
        {{each data}}
			<li class="slidenav-cell" id="{{$value.id}}">
				{{if $value.child.length > 0}}
					<a href="JavaScript:;" class="slidenav-most">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>
					<ul class="slidenav-cells-second">
						<li class="slidenav-cell slidenav-cell-index-second">
							<a href="javascript:;">
								<img class="left-pic" src="img/left_arrow.png" alt="">
								<span class="slidenav-cell-left">{{$value.name}}</span>
								<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
							</a>
						</li>
						{{include 'changes' $value}}
					</ul>
				{{else}}
					<a href="{{$value.url}}?id={{$value.id}}">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>				
				{{/if}}
			</li>            
        {{/each}}    	
    </script>
    <script id="changes" type="text/html">
        {{each child}}
			<li class="slidenav-cell">
				{{if $value.pid==41}}
				<a href="{{$value.url}}">
				{{else}}
				<a href="{{$value.url}}?id={{$value.id}}">
				{{/if}}
					<span class="slidenav-cell-left">{{$value.name}}</span>
					<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
				</a>
			</li>          
        {{/each}} 
    </script> 
    <script id="about" type="text/html">
        {{each data}}
			<li class="email-cell">
				<a href="jobDetail.html?id={{$value.id}}">
					<span class="text-under">{{$value.classify}}</span>
					<span>{{$value.jname}}</span>
				</a>
			</li>      
        {{/each}} 
    </script> 
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/template-web.js"></script>
	<script src="js/common.js"></script>
	<script src="js/header.js?v=1.0.1"></script>
	<script src="js/login.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=74jE3MA1vryLVN8Gg6IGdS399BTuqD6N"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<script src="js/about.js"></script>
	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container',{
			loop:true,
		    pagination: {
		        el:'.swiper-pagination',
		        clickable: true,
		    },
			autoplay:1000
		});
		$('.app-pic-cell').on('touchstart',function(){
			$(this).children('.geo-transform').css({
				'z-index':5,
				'background':'#ff7c00',
				'color':'#ffffff'
			}).find('label').css('color','#ffffff')
		});
		$('.app-pic-cell').on('touchend',function(){
			$(this).children('.geo-transform').css({
				'z-index':4,
				'background':'#ffffff',
				'color':'#a7a6a6'
			}).find('label').css('color','#1a1712')
		});
        /*导航*/
        var changeHtml = template('change',inithead());
        $(".slidenav-cells").html(changeHtml);
		/*企业文化*/
		var picUrl = aboutCul();
        $('.culture-big').attr('src',pubUrl+picUrl.lpic_url);
        $('.culture-small').eq(0).attr('src',pubUrl+picUrl.rpic_url1);
        $('.culture-small').eq(1).attr('src',pubUrl+picUrl.rpic_url2);
        $('.culture-small').eq(2).attr('src',pubUrl+picUrl.rpic_url3);
        $('.culture-small').eq(3).attr('src',pubUrl+picUrl.rpic_url4);
        /*联系我们*/
		// 百度地图API功能
        var map = new BMap.Map('allmap');
        var poi = new BMap.Point(116.543141, 40.095229);
        map.centerAndZoom(poi, 16);
        map.enableScrollWheelZoom();

        var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
            '<img src="./ruidi.jpg" alt="" style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>' +
            '地址：北京市顺义区安泰大街9号院10号楼3层<br />电话：010-56231138' +
            '</div>';

        //创建检索信息窗口对象
        var searchInfoWindow = null;
        searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
            title: "北京睿缔建筑设计有限公司", //标题
            width: 290, //宽度
            height: 105, //高度
            panel: "panel", //检索结果面板
            enableAutoPan: true, //自动平移
            searchTypes: [
                BMAPLIB_TAB_SEARCH, //周边检索
                BMAPLIB_TAB_TO_HERE, //到这里去
                BMAPLIB_TAB_FROM_HERE //从这里出发
            ]
        });
        var marker = new BMap.Marker(poi); //创建marker对象
        marker.enableDragging(); //marker可拖拽
        marker.addEventListener("click", function (e) {
            searchInfoWindow.open(marker);
        })
        map.addOverlay(marker); //在地图中添加marker
        //样式1
        var searchInfoWindow1 = new BMapLib.SearchInfoWindow(map, "信息框1内容", {
            title: "信息框1", //标题
            panel: "panel", //检索结果面板
            enableAutoPan: true, //自动平移
            searchTypes: [
                BMAPLIB_TAB_FROM_HERE, //从这里出发
                BMAPLIB_TAB_SEARCH //周边检索
            ]
        });
        /*招聘信息*/
	    var html = template("about",aboutNew());
	    $('.email-cells').html(html);
        /*底部菜单*/
       footerImg()
	</script>
</body>
</html>