<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>楼盘详情</title>
    <link rel="stylesheet" href="css/rem.css" />
    <link rel="stylesheet" href="css/iconfont.css" />
    <link href="css/swiper.min.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/buildDetail.css" />
</head>
<body>
    <div class="container">
        <div class="app-wrapper">
            <div class="bg orange">
                <p>格拉斯小镇</p>
            </div>
			<header class="global-nav">
				<div class="primary-wrapper module-pad">
					<div class="primary-container">
						<a class="logo">
							<img src="img/logo.png" />
						</a>
						<div class="icons">
							<i class="icon iconfont icon-daohangpinlei"></i>
							<i class="icon iconfont icon-guanbi"></i>
						</div>
					</div>
					<!-- 导航 -->
					<div class="slide-navlist" id="1">
						<ul class="slidenav-cells">
				
						</ul>
					</div>
				</div>
			</header>
			<section class="app-content">
				<div class="swiper-container">
				    <div class="swiper-wrapper" id="swiper-1">
				        <!--<div class="swiper-slide">
				        	<img src="img/buildList_1.png" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/buildList_1.png" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/buildList_1.png" />
				        </div>-->
				    </div>
			    </div>
			    <div class="build-content">
			    	<div class="build-list-left">
			    		<div class="build-cell-small-top">
			    			<span class="build-L">L-2户型</span>
			    		</div>
			    		<div class="build-cell-small-middle underline">
			    			<div class="build-title">选择一个楼层</div>
			    			<div class="build-choice" id="first-choice">
			    				<!--<span class="actives">1</span>
			    				<span>2</span>-->
			    			</div>
			    		</div>
			    		<div class="build-cell-small-middle">
			    			<div class="build-title">查看平面图</div>
			    			<div class="build-choice" id="second-choice">
			    				<!--<span class="actives">1</span>
			    				<span>2</span>
			    				<span>3</span>-->
			    			</div>	    			
			    		</div>			    		
			    	</div>
			    	<div class="build-list-right">
			    		<img src="img/buildList_2.png" />
			    	</div>
			    </div>
			</section>
        </div>
        <div class="app-contents">
			<div class="swiper-container">
			    <div class="swiper-wrapper" id="swiper-2">
			        <!--<div class="swiper-slide">
			        	<img src="img/buildList_3.png" />
			        </div>
			        <div class="swiper-slide">
			        	<img src="img/buildList_3.png" />
			        </div>
			        <div class="swiper-slide">
			        	<img src="img/buildList_3.png" />
			        </div>-->
			    </div>
		    </div>
	        <div class="design">
	            <!--<div class="design-tl">
	                <img class="avatar" src="img/ruidi_03.png" alt="">
	                <div class="design-user">
	                    <div class="design-user-tl">创意设计部</div>
	                    <div class="design-user-name">徐国峰</div>
	                </div>
	                <div class="desigin-see">
	                    <img src="img/fenfanS_19.png" alt="">
	                    <span>1206</span>
	                    <img src="img/thumbs_up_3.png" alt="">
	                    <span>500</span>
	                </div>
	            </div>
	            <div class="design-info">睿缔创意设计核心服务内容是“懂你懂房子”，通过与客户的沟通，挖掘客户内心对家的憧憬。与此同时，了解住宅原始建筑的细统数据信息，根据住宅信息输出科学的、具有可实施性的基础设计方案，并且将客户精神需求、生活需求融入设计，通过功能、价格、美学、人文、文脉等5个方面实现创意设计完美呈现。</div>
	            <div class="design-share">
	                <img src="img/fenfanS_27.png" alt="">
	                <span>分享</span>
	            </div>-->
	        </div>
	        <div class="bottom-content-cell">
	            <nav class="middle-nav">
	                <span>空间</span>
	                <span>造价</span>
	                <span>解决方案</span>
	                <span>风格</span>
	                <span class="last"></span>
	            </nav>
	            <div class="middle-text">
	                空间运用了较多的辅助光源，基本没有用到直射的主光源。意在让整个空间的光线柔和且安详，如柜体内置灯源，恰如夜光穿过山石间隙悠远静谧。
	            </div>
	            <div class="middle-button">
	                <i>您可能喜欢</i>
	                <span class="action" id="tab-a">相关案例</span>
	                <span id="tab-b">相关设计师</span>
	                <span>相关产品</span>
	            </div>
	        </div>        
        </div>

		<div class="other-point">
			<span class="relate" id="inner-text">相关案例</span>
			<div class="other-line"></div>
        </div>

        <!-- 内容区 -->
        <div id="app-content">
        </div>
		<!-- <div class="app-pic-list">
			<div class="app-pic-cell">
				<img src="img/main_second.png" />
				<div class="bottom-set">
						<label class="bottom-title-big">睿缔-纷凡</label>
						<p class="bottom-text">整合全球高端家居行业资源,联合千余欧洲顶级家具品牌,臻选全球美学名品,独创无限混搭风格。</p>
						<a href="fenfanFirst.html">
							<button class="btn actives">探索领域</button>
						</a>
					</div>
			</div>
		</div>
		<div class="app-pic-list">
			<div class="app-pic-cell">
				<img src="img/main_second.png" />
				<div class="bottom-set">
						<label class="bottom-title-big">睿缔-纷凡</label>
						<p class="bottom-text">整合全球高端家居行业资源,联合千余欧洲顶级家具品牌,臻选全球美学名品,独创无限混搭风格。</p>
						<a href="fenfanFirst.html">
							<button class="btn actives">探索领域</button>
						</a>
					</div>
			</div>
		</div>	
		<div class="app-pic-list">
			<div class="app-pic-cell">
				<img src="img/main_second.png" />
				<div class="bottom-set">
						<label class="bottom-title-big">睿缔-纷凡</label>
						<p class="bottom-text">整合全球高端家居行业资源,联合千余欧洲顶级家具品牌,臻选全球美学名品,独创无限混搭风格。</p>
						<a href="fenfanFirst.html">
							<button class="btn actives">探索领域</button>
						</a>
					</div>
			</div>
		</div>
		<div class="app-pic-list">
			<div class="app-pic-cell">
				<img src="img/main_second.png" />
				<div class="bottom-set">
						<label class="bottom-title-big">睿缔-纷凡</label>
						<p class="bottom-text">整合全球高端家居行业资源,联合千余欧洲顶级家具品牌,臻选全球美学名品,独创无限混搭风格。</p>
						<a href="fenfanFirst.html">
							<button class="btn actives">探索领域</button>
						</a>
					</div>
			</div>
        </div>	 -->
        <!-- 内容区 end	 -->					
		<div class="other-point">
			<span class="relate">Other  related</span>
			<div class="other-line"></div>
		</div>
		<div class="category">

		</div>	
	    <div class="footer">
	    	<img src="img/bottom-logo.png" class="footer-logo" />
		  	<div class="bottom-nav">
		  	    <span>签约合作</span>
		  	    <span>联系我们</span>
		  	    <span>工作机会</span>
		  	    <span>法律信息</span>
		  	</div>
		  	<div class="bottom-down">
		  		<span>关注 Redefining</span>
		  		<div class="bottom-logo">
		  			<img src="img/sina.png" />
		  			<img src="img/weixin.png" />
		  			<img src="img/QQ.png" />
		  		</div>
		  	</div>
		  	<p>京公网安备11010502025574 · 京ICP证150031号</p>
	    </div>
	</div>
    <script id="design" type="text/html">
        <div class="design-tl">
            <img class="avatar" src="{{designer.headphoto}}" alt="">
            <div class="design-user">
                <div class="design-user-tl">{{designer.departmentId}}</div>
                <div class="design-user-name">{{designer.name}}</div>
            </div>
            <div class="desigin-see">
                <img src="img/fenfanS_19.png" alt="">
                <span>{{designer.collect}}</span>
                <img src="img/thumbs_up_3.png" alt="">
                <span>{{designer.visit}}</span>
            </div>
        </div>
        <div class="design-info"></div>
        <div class="design-share">
            <img src="img/fenfanS_27.png" alt="">
            <span>分享</span>
        </div>
    </script>
    <script id="builddetail" type="text/html">
        <nav class="middle-nav">
        	{{each desc}}
                <span id="{{$index}}">{{$value.title}}</span>
            {{/each}}        	
            <!--<span>空间</span>
            <span>造价</span>
            <span>解决方案</span>
            <span>风格</span>-->
            <span class="last"></span>
        </nav>
        <div>
        	{{each desc}}
        	    {{if $index == 0}} 
			        <div class="middle-text" id="menu_{{$index}}">
			            {{$value.content}}
			        </div>
			    {{/else}}
			        <div class="middle-text" style="display:none" id="menu_{{$index}}">
			            {{$value.content}}
			        </div>			    
		        {{/if}}
        	{/each}
        </div>
        <div class="middle-button">
            <i>您可能喜欢</i>
            <span class="action">相关案例</span>
            <span>相关设计师</span>
            <span>相关产品</span>
        </div>
    </div>   
    </script>
    <script id="change" type="text/html">
        {{each data}}
			<li class="slidenav-cell" id="{{$value.id}}">
				{{if $value.child.length > 0}}
					<a href="JavaScript:;" class="slidenav-most">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>
					<ul class="slidenav-cells-second">
						<li class="slidenav-cell slidenav-cell-index-second">
							<a href="javascript:;">
								<img class="left-pic" src="img/left_arrow.png" alt="">
								<span class="slidenav-cell-left">{{$value.name}}</span>
								<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
							</a>
						</li>
						{{include 'changes' $value}}
					</ul>
				{{else}}
					<a href="{{$value.url}}?id={{$value.id}}">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>				
				{{/if}}
			</li>            
        {{/each}}    	
    </script>
    <script id="changes" type="text/html">
        {{each child}}
			<li class="slidenav-cell">
				<a href="{{$value.url}}?id={{$value.id}}">
					<span class="slidenav-cell-left">{{$value.name}}</span>
					<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
				</a>
			</li>          
        {{/each}} 
    </script>  
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/template-web.js"></script>
	<script src="js/common.js"></script>
	<script src="js/header.js?v=1.0.1"></script>
	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container',{
			loop:true,
		    pagination: {
		        el:'.swiper-pagination',
		        clickable: true,
		    },
			autoplay:1000
		});
		$('.app-pic-cell').on('touchstart',function(){
			$(this).children('.geo-transform').css({
				'z-index':5,
				'background':'#ff7c00',
				'color':'#ffffff',
				'transform':'translate(0, -3rem)',
				'-webkit-transform':'translate(0, -3rem)'
			}).find('label').css('color','#ffffff')
		});
		$('.app-pic-cell').on('touchend',function(){
			$(this).children('.geo-transform').css({
				'z-index':4,
				'background':'#ffffff',
				'color':'#a7a6a6',
				'transform':'translate(0, 0)',
				'-webkit-transform':'translate(0, 0)'
			}).find('label').css('color','#1a1712')
		});
        console.log(inithead());
        /*导航*/
        var changeHtml = template('change',inithead());
        $(".slidenav-cells").html(changeHtml);
        /*轮播*/
        $.each(buildLoop(GetQueryString('id'),1),function(i,val){
			var html = '<div class="swiper-slide"><img src="'+pubUrl+val.img+'" /></div>';
			$('#swiper-1').append(html)
        }); 
        console.log(buildLoop(GetQueryString('id'),2));
        $.each(buildLoop(GetQueryString('id'),2),function(i,val){
			var html = '<div class="swiper-slide"><img src="'+pubUrl+val.img+'" /></div>';
			$('#swiper-2').append(html)
        });
        var designData = buildcontent(GetQueryString('id'));
        /*户型详情*/
        // buildcontent(GetQueryString('id'));
        $('.build-L').text(designData.house_type.name);
		$.each(designData.floor,function(i,val){
			var html = '<span id="'+val+'">'+val+'</span>';
			$('#first-choice').append(html)
		});  
		$('#first-choice span:nth-child(1)').addClass('actives');
		buildPlane(GetQueryString('id'),1);
		$.each(buildPlane(GetQueryString('id'),1),function(i){
			var html = '<span id="'+(i + 1)+'">'+(i + 1)+'</span>';
			$('#second-choice').append(html)
		});	
		$('#second-choice span:nth-child(1)').addClass('actives');
		$('.build-list-right img').attr({'src':pubUrl + buildPlane(GetQueryString('id'),1)[0].img,'width':'100%'});
		/*户型选择*/
		var list = [];
		$('#first-choice span').on('click',function(){
			var num = $(this).attr('id');
			$('#second-choice').empty();
			var _tmpData = buildPlane(GetQueryString('id'),num);
			// list = _tmpData;
			$.each(_tmpData,function(i,e){
				var html = '<span id="'+(i + 1)+'">'+(i + 1)+'</span>';
				$('#second-choice').append(html)
			});	
			$('#second-choice span:nth-child(1)').addClass('actives');
			$(this).addClass('actives').siblings().removeClass('actives')
			// $('.build-list-right img').attr('src',pubUrl + list[0].img)
		});
		$('#second-choice span').on('click',function(){
			var num = parseInt($(this).attr('id')) - 1;
			$.each(list,function(i){
				console.log(i);
				if(i == num){
					console.log(list[i].img);
					$('.build-list-right img').attr('src',pubUrl + list[i].img)
				}
			});
			$(this).addClass('actives').siblings().removeClass('actives')
		})
        /*设计师*/
		designData.designer.headphoto = pubUrl + designData.designer.headphoto;
		var designer = template('design',designData);
		$(".design").html(designer);
		$('.design-info').html(designData.house.introduce);
		console.log(designData);
		/*设计师案例*/
//		var builddetail = template('builddetail',designData);
//		$(".bottom-content-cell").html(builddetail);
        /*底部菜单*/
		/*内容*/
//		var data = aboutCase(1,$('#tab-a').attr('data-id'));
//		console.log(data);
//		$.each(data,function(i,v){
//			var html = '<div class="app-pic-list">'
//							+'<div class="app-pic-cell">'
//							    +'<a href="casedatail.html?id='+v.id+'">'
//								+'<img src="'+pubUrl+v.photoUrlA+'" />'
//								+'</a>'
//								+'<div class="geo-transform">'
//									+'<span>'+v.departmentId+'</span>'
//									+'<div class="label-content">'
//									    +'<label>'+v.name+'</label>'
//									    +'<span>立即咨询</span>'
//									+'</div>'
//								+'</div>'
//							+'</div>'
//						+'</div>';
//			$('#app-content').append(html)
//		})		
		/*点击*/
		$('.middle-button span').on('click',function(){
			$(this).addClass('action').siblings().removeClass('action');
			$('#inner-text').text($(this).text());
			$('#app-content').empty();
			if($(this).text() == '相关设计师'){
				var data = aboutDesigner(1,$(this).attr('data-id'));
				$.each(data,function(i,v){
					var html = '<div class="app-pic-list">'
									+'<div class="app-pic-cell">'
									    +'<a href="powerDesigner.html?id='+v.id+'">'
										+'<img src="'+pubUrl+v.photoUrlA+'" />'
										+'</a>'
										+'<div class="geo-transform">'
											+'<span>'+v.departmentId+'</span>'
											+'<div class="label-content">'
											    +'<label>'+v.name+'</label>'
											    +'<span>立即咨询</span>'
											+'</div>'
										+'</div>'
									+'</div>'
								+'</div>';
					$('#app-content').append(html)
				})
			}else{
				data = aboutCase(1,$('#tab-a').attr('data-id'));
				$.each(data,function(i,v){
					var html = '<div class="app-pic-list">'
									+'<div class="app-pic-cell">'
									    +'<a href="casedatail.html?id='+v.id+'">'
										+'<img src="'+pubUrl+v.photoUrlA+'" />'
										+'</a>'
										+'<div class="geo-transform">'
											+'<span>'+v.departmentId+'</span>'
											+'<div class="label-content">'
											    +'<label>'+v.name+'</label>'
											    +'<span>立即咨询</span>'
											+'</div>'
										+'</div>'
									+'</div>'
								+'</div>';
					$('#content-area').append(html)
				})					
			}
		});
		/*切换*/
      	$('.middle-button #tab-a').attr("data-id",designData.house_type.hid);
      	$('.middle-button #tab-b').attr("data-id",designData.house_type.did);
		/*底部*/
       footerImg()
	</script>
</body>
</html>