<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>建筑</title>
    <link rel="stylesheet" href="css/rem.css" />
    <link rel="stylesheet" href="css/iconfont.css" />
    <link href="css/swiper.min.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/exchange.css" />
	<link rel="stylesheet" href="css/build.css" />
	<link rel="stylesheet" href="css/dropload.css" />
    <style type="text/css">
        .other-point{
            margin:4rem 0 2rem
        }
    </style>    
</head>
<body>
	<div class="container">
		<div class="app-wrapper">
            <div class="bg orange">
                <p>Case appreciation</p>
            </div>			
			<header class="global-nav">
				<div class="primary-wrapper module-pad">
					<div class="primary-container">
						<a class="logo">
							<img src="img/logo.png" />
						</a>
						<div class="icons">
							<i class="icon iconfont icon-daohangpinlei"></i>
							<i class="icon iconfont icon-guanbi"></i>
						</div>
					</div>
					<!-- 导航 -->
					<div class="slide-navlist" id="1">
						<ul class="slidenav-cells">
				
						</ul>
						<div class="nav-login">
							<button class="btns" id="login">登录 / 注册</button>
							<div class="login-success">
								<a href="personLoginOut.html"><img src="img/person_pic.png" /></a>
								<span id="loginOut">退出登录</span>
							</div>
							<button class="btns" id="price">快速报价</button>
							<p>热线  4008-513-228</p>
						</div>					
					</div>
				</div>
			</header>
			<section class="app-content">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <!--<div class="swiper-slide">
				        	<img src="img/main_second.png" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/main_second.png" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/main_second.png" />
				        </div>-->
				    </div>
			    </div>
			</section>
		</div>
		<div id="app-content">
			<!--<div class="app-pic-list">
				<div class="app-pic-cell">
				    <a href="buildList.html">
					    <img src="img/build_1.png" />
					</a>
					<div class="geo-transform">
						<span>曼哈顿</span>
						<div class="label-content">
						    <label>顶层豪宅会所</label>
						    <span>立即咨询</span>
						</div>
					</div>
				</div>
			</div>
			<div class="app-pic-list">
				<div class="app-pic-cell">
					<a href="buildList.html">
					    <img src="img/build_2.png" />
					</a>
					<div class="geo-transform">
						<span>曼哈顿</span>
						<div class="label-content">
						    <label>顶层豪宅会所</label>
						    <span>立即咨询</span>
						</div>
					</div>
				</div>
			</div>	
			<div class="app-pic-list">
				<div class="app-pic-cell">
				    <a href="buildList.html">
					    <img src="img/build_3.png" />
					</a>
					<div class="geo-transform">
						<span>曼哈顿</span>
						<div class="label-content">
						    <label>顶层豪宅会所</label>
						    <span>立即咨询</span>
						</div>
					</div>
				</div>
			</div>
			<div class="app-pic-list">
				<div class="app-pic-cell">
				    <a href="buildList.html">
					    <img src="img/build_4.png" />
					</a>
					<div class="geo-transform">
						<span>曼哈顿</span>
						<div class="label-content">
						    <label>顶层豪宅会所</label>
						    <span>立即咨询</span>
						</div>
					</div>
				</div>
			</div>				-->
		</div>						
		<div class="other-point" style="display: none">
			<span class="relate">Other  related</span>
			<div class="other-line"></div>
		</div>
		<div class="category" style="display: none">
		</div>
	    <div class="footer" style="display: none">
	    	<img src="img/bottom-logo.png" class="footer-logo" />
		  	<div class="bottom-nav">
		  	    <span>签约合作</span>
		  	    <span>联系我们</span>
		  	    <span>工作机会</span>
		  	    <span>法律信息</span>
		  	</div>
		  	<div class="bottom-down">
		  		<span>关注 Redefining</span>
		  		<div class="bottom-logo">
		  			<img src="img/sina.png" />
		  			<img src="img/weixin.png" />
		  			<img src="img/QQ.png" />
		  		</div>
		  	</div>
		  	<p>京公网安备11010502025574 · 京ICP证150031号</p>
	    </div>
	</div>
    <div class="weui-skin_android" id="androidActionsheet" style="display: none">
        <div class="weui-mask"></div>
        <div class="weui-actionsheet">
        	<div class="shutdown">
        		<img src="img/close.png"  />
        	</div>
        	<div class="login-window">
        		<div class="login-top">
        			<label>Hi,Friends!</label>
        			<p>Welcome to Redefining Habitat</p>
        		</div>
        		<div class="login-middle">
        			<div class="login-phone">
        				<input placeholder="请输入手机号" type="text" class="phone-number" />
        				<div class="tip"></div>
        			</div>
        			<div class="login-phone">
        				<input placeholder="请输入验证码" type="text" class="phone-check" />
        				<div class="tip"></div>
        				<span class="btn-get">获取验证码</span>
        			</div>
        		</div>
                <span class="check-tips">1小时之内只能发送3次</span>	        		
        		<div class="login-bottom">
        			<button class="btn-submit" id="logins">登录</button>
        		</div>
        	</div>
        	<div class="price-window">
        		<div class="login-top">
        			<label>快速获取装修报价</label>
        		</div>	 
        		<div class="price-middle">
        			<input type="text" placeholder="您的姓名" />
        			<input type="text" placeholder="手机号" />
        			<input type="text" placeholder="楼盘名称" />
        			<input type="text" placeholder="房屋面积" />
        		</div>
        		<div class="login-bottom">
        			<button class="btn-submit btn-yellow">获取报价</button>
        			<p class="price-phone">免费咨询热线: 400-512-228</p>
        		</div>	        		
        	</div>
        </div>
    </div>
    <script id="change" type="text/html">
        {{each data}}
			<li class="slidenav-cell" id="{{$value.id}}">
				{{if $value.child.length > 0}}
					<a href="JavaScript:;" class="slidenav-most">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>
					<ul class="slidenav-cells-second">
						<li class="slidenav-cell slidenav-cell-index-second">
							<a href="javascript:;">
								<img class="left-pic" src="img/left_arrow.png" alt="">
								<span class="slidenav-cell-left">{{$value.name}}</span>
								<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
							</a>
						</li>
						{{include 'changes' $value}}
					</ul>
				{{else}}
					<a href="{{$value.url}}?id={{$value.id}}">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>				
				{{/if}}
			</li>            
        {{/each}}    	
    </script>
    <script id="changes" type="text/html">
        {{each child}}
			<li class="slidenav-cell">
				{{if $value.pid==41}}
				<a href="{{$value.url}}">
				{{else}}
				<a href="{{$value.url}}?id={{$value.id}}">
				{{/if}}
					<span class="slidenav-cell-left">{{$value.name}}</span>
					<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
				</a>
			</li>          
        {{/each}} 
    </script>        
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/template-web.js"></script>
	<script src="js/dropload.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/header.js?v=1.0.1"></script>
	<script src="js/login.js"></script>
	<script src="js/collect.js"></script>
	<script type="text/javascript">
        /*导航*/
        var changeHtml = template('change',inithead());
        $(".slidenav-cells").html(changeHtml);
        /*轮播*/
        $.each(loops(getId(2)),function(i,val){
			var html = '<div class="swiper-slide"><img src="'+pubUrl+val.img_path+'" /></div>';
			$('.swiper-wrapper').append(html)
		}); 
		var mySwiper = new Swiper('.swiper-container',{
			loop:true,
		    pagination: {
		        el:'.swiper-pagination',
		        clickable: true,
		    },
			autoplay:1000
		});
        /*列表*/
        $.each(build(1,userInfor?userInfor.uid:''),function(i,v){
			var imgHmtl = "";
			if(v.collect==0){
				imgHmtl = '<img src="img/thumbs_up_1.png" class="thumb_up" name="'+v.id+'" />'
			}else{
				imgHmtl = '<img src="img/thumbs_up_2.png" class="thumb_up" name="'+v.id+'" />'
			}
        	var html = '<div class="app-pic-list">'
						+'<div class="app-pic-cell">'
							+'<a href="buildList.html?id='+v.id+'">'
								+'<img src="'+pubUrl+v.logo+'" />'
							+'</a>'
							+imgHmtl
							+'<div class="geo-transform">'
								+'<span>'+v.address+'</span>'
								+'<div class="label-content">'
								    +'<label>'+v.name+'</label>'
								    +'<span>立即咨询</span>'
								+'</div>'
							+'</div>'
						+'</div>'
					+'</div>';
			$('#app-content').append(html)
		});    
		/*心愿单*/
		$(document).on('click','.thumb_up',function(){
			if(userInfor == null){
				$('#iosDialog2').fadeIn();
			}else{
				var attrs = $(this).attr('src');
				var parents = $(this).parent();
				if(attrs != 'img/thumbs_up_2.png'){
					$(this).attr('src','img/thumbs_up_2.png');
					$('#toast').fadeIn(100).find('.weui-toast__content').text('已加入心愿单');
					heartTip("/house/collect",{hid:$(this).attr('name'),uid:userInfor.uid});
		            setTimeout(function () {
						$('#toast').fadeOut(100);
		            }, 2000);
				}else{
					$(this).attr('src','img/thumbs_up_1.png');
					$('#toast').fadeIn(100).find('.weui-toast__content').text('已移出心愿单');
					heartTip("/house/collect",{hid:$(this).attr('name'),uid:userInfor.uid});
		            setTimeout(function () {
		                $('#toast').fadeOut(100);
		            }, 2000);
				}
			}
		});    
        /*底部菜单*/
	   footerImg()
	   
	   /*下拉加载*/
	   function selectMore(el){
       	    var pageNum = 1;
			   var result = '';
       	    el.dropload({
		        scrollArea : window,
		        domUp: {
		            domClass   : 'dropload-up',
		            domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
		            domUpdate  : '<div class="dropload-update">↑释放更新</div>',
		            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
		        },   
		        distance: 1000,
		        loadDownFn : function(me){     
		            pageNum++;            
		            var result = '';
		            $.ajax({
		                type: "post",
		                url: pubUrl + '/house',
		                async:true,
		                data:{
							page:pageNum
		                },
		                success: function(res){  
							var lists = res.data;
		                    var arrLen = lists.length;        		                    
		                    if( arrLen>0 ){
		                        for(var i = 0; i < arrLen; i++){
		                            result += '<div class="app-pic-list">' //html模板，你懂得
												+'<div class="app-pic-cell">'
													+'<a href="caseDetail.html?id='+lists[i].id+'">'
														+'<img src="'+pubUrl+lists[i].logo+'" />'
													+'</a>'
													+'<div class="geo-transform">'
														+'<span>'+lists[i].address+'</span>'
														+'<div class="label-content">'
														    +'<label>'+lists[i].name+'</label>'
														    +'<span>立即咨询</span>'
														+'</div>'
													+'</div>'
												+'</div>'
											+'</div>';
		                        };                        
		                    }else{
		                        // 锁定
		                        me.lock();
		                        // 无数据
								me.noData();
								$(".other-point").fadeIn(500);
								$(".category").fadeIn(500);
								$(".footer").fadeIn(500);
		                    }    
		                    setTimeout(function(){
		                        // 插入数据到页面，放到最后面
		                        el.find($(".lists")).append(result);
		                        // 每次数据插入，必须重置
		                        me.resetload();
		                    },500);            
		                },
		                error: function(xhr, type){
		                    alert('Ajax error!');
		                    // 即使加载出错，也得重置
		                    me.resetload();
		                }
		            });    
		        }       	    	
       	    })
		};
		selectMore($('#app-content'));
	</script>
</body>
</html>