<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>睿缔实力详情</title>
    <link rel="stylesheet" href="css/rem.css" />
    <link rel="stylesheet" href="css/iconfont.css" />
    <link href="css/swiper.min.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/buildDetail.css" />
    <link rel="stylesheet" href="css/designPointDetail.css"  />
    <link rel="stylesheet" href="css/exchange.css" />    
</head>
<body>
    <div class="container">
        <div class="app-wrapper">
            <div class="bg">
                
            </div>
			<header class="global-nav">
				<div class="primary-wrapper module-pad">
					<div class="primary-container">
						<a class="logo">
							<img src="img/logo.png" />
						</a>
						<div class="icons">
							<i class="icon iconfont icon-daohangpinlei"></i>
							<i class="icon iconfont icon-guanbi"></i>
						</div>
					</div>
					<!-- 导航 -->
					<div class="slide-navlist" id="1">
						<ul class="slidenav-cells">
			
						</ul>
						<div class="nav-login">
							<button class="btns" id="login">登录 / 注册</button>
							<div class="login-success">
								<a href="personLoginOut.html"><img src="img/person_pic.png" /></a>
								<span id="loginOut">退出登录</span>
							</div>
							<button class="btns" id="price">快速报价</button>
							<p>热线  4008-513-228</p>
						</div>
					</div>
				</div>
			</header>
			<section class="app-content">

			</section>
        </div>
        <div class="app-contents">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide">
			        	<img src="img/buildList_3.png" />
			        </div>
			        <div class="swiper-slide">
			        	<img src="img/buildList_3.png" />
			        </div>
			        <div class="swiper-slide">
			        	<img src="img/buildList_3.png" />
			        </div>
			    </div>
		    </div>
		    <div class="content-down">
		    	<!--<div class="this-title-1">
	    			<h4>在格拉斯小镇设计中,我们如何打造多专业?</h4>
	    			<h6>解析创意设计团队如何在其中执行</h6>
	    		</div>
	    		<div class="this-content-1">
	    			<p>格拉斯小镇建筑面积460000平方米，70年产权，为别墅项目。建筑风格为法式风格，四期共158席，地上两层，地下一层，前二后三设计，物业费11.39元/平方米·月，停车位为双车位。项目位于温榆河畔，机场高速杨林出口东南方向6公里，格拉斯小镇项目周边配套设施齐全，有普尔斯马特超市；和睦佳医院；中国建设银行、中国工商银行；空港邮政等。</p>
	    			<p>睿缔在格拉斯小区服务客户超过45户！已完工14套，20套处于施工，在施工地覆盖35%以上，格拉斯小镇装修首选全案服务专家睿缔建筑，施工0利润，全程0增项。</p>
	    		</div>		    	-->
		    </div>
        </div>

        <!-- 内容区 -->
		<div class="app-con">
			<!--<div class="app-pic-list">
				<div class="app-pic-cell">
					<a href="ruiDetail.html"><img src="img/ruidi_03.png" /></a>
					<div class="geo-transfer">
						<label>Creative Design Team</label>
						<p>睿缔的多专业是对于设计协同机制。在多专业协同配合中，通过建筑结构实现空间功能把控，通过庭园设计营造专属庭院生活，凭借机电设计的全范围覆盖保证生活健康、居家功能使用便捷。</p>
					</div>
				</div>
			</div>
			<div class="app-pic-list">
				<div class="app-pic-cell">
					<img src="img/ruidi_04.png" />
					<div class="geo-transfer">
						<label>Creative Design Team</label>
						<p>睿缔的多专业是对于设计协同机制。在多专业协同配合中，通过建筑结构实现空间功能把控，通过庭园设计营造专属庭院生活，凭借机电设计的全范围覆盖保证生活健康、居家功能使用便捷。</p>
					</div>					
				</div>
			</div>	
			<div class="app-pic-list">
				<div class="app-pic-cell">
					<img src="img/cell_small_5.png" />
					<div class="geo-transfer">
						<label>Creative Design Team</label>
						<p>睿缔的多专业是对于设计协同机制。在多专业协同配合中，通过建筑结构实现空间功能把控，通过庭园设计营造专属庭院生活，凭借机电设计的全范围覆盖保证生活健康、居家功能使用便捷。</p>
					</div>					
				</div>
			</div>			-->
		</div>

        <!-- 内容区 end	 -->					
		<div class="other-point">
			<span class="relate">Other  related</span>
			<div class="other-line"></div>
		</div>
		<div class="category">
			<!--<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/c86d0a22571800a119cb043254af640f.png">
			</div> 

			<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/0b6173a0f63a2b806e258d01e4d3a1d7.png">
			</div> 

			<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/f321f49f72e644e64276c9896ce83a44.png">
			</div> 

			<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/033110ab3ff40cb206254f55f93ee455.png">
			</div> 

			<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/4c551d1bce7ec9dc95e0ff249a769448.png">
			</div> 

			<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/dadac7e000812beef06099f4d5fd3a29.png">
			</div> 

			<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/751c1721651347382ae752bc87f52893.png">
			</div> 

			<div class="category-cell">
				<span class="category-title">业务领域</span>
				<img src="http://demo6002.wanyucheng.cn/uploads/20181225/857b66f78058761b27364c9a59f16fae.png">
			</div> 	-->
		</div>	
	    <div class="footer">
	    	<img src="img/bottom-logo.png" class="footer-logo" />
		  	<div class="bottom-nav">
		  	    <span>签约合作</span>
		  	    <span>联系我们</span>
		  	    <span>工作机会</span>
		  	    <span>法律信息</span>
		  	</div>
		  	<div class="bottom-down">
		  		<span>关注 Redefining</span>
		  		<div class="bottom-logo">
		  			<img src="img/sina.png" />
		  			<img src="img/weixin.png" />
		  			<img src="img/QQ.png" />
		  		</div>
		  	</div>
		  	<p>京公网安备11010502025574 · 京ICP证150031号</p>
	    </div>
	</div>
    <script id="change" type="text/html">
        {{each data}}
			<li class="slidenav-cell" id="{{$value.id}}">
				{{if $value.child.length > 0}}
					<a href="JavaScript:;" class="slidenav-most">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>
					<ul class="slidenav-cells-second">
						<li class="slidenav-cell slidenav-cell-index-second">
							<a href="javascript:;">
								<img class="left-pic" src="img/left_arrow.png" alt="">
								<span class="slidenav-cell-left">{{$value.name}}</span>
								<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
							</a>
						</li>
						{{include 'changes' $value}}
					</ul>
				{{else}}
					<a href="{{$value.url}}?id={{$value.id}}">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>				
				{{/if}}
			</li>            
        {{/each}}    	
    </script>
    <script id="changes" type="text/html">
        {{each child}}
			<li class="slidenav-cell">
				{{if $value.pid==41}}
				<a href="{{$value.url}}">
				{{else}}
				<a href="{{$value.url}}?id={{$value.id}}">
				{{/if}}
					<span class="slidenav-cell-left">{{$value.name}}</span>
					<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
				</a>
			</li>          
        {{/each}} 
    </script> 
    <script id="context" type="text/html">
		<div class="context">
    		<div class="this-point">
				<span class="this-relate">{{typename}}</span>
				<div class="this-line"></div>		    			
    		</div>
    		<div class="this-title">
    			<h1>{{title}}</h1>
    			<h3>{{title_bit}}</h3>	   
    			<div class="build-list">
    				<span>
    					<a href="{{tag1_url}}">
    						{{tag1_name}}
    					</a>
    				</span>
    				<span>
    					<a href="{{tag2_url}}">
    						{{tag2_name}}
    					</a>    					
    				</span>
    				<span>
    					<a href="{{tag3_url}}">
    						{{tag3_name}}
    					</a>      					
    				</span>
    				<span>
    					<a href="{{tag4_url}}">
    						{{tag4_name}}
    					</a>      					
    				</span>
    			</div>			    			
    		</div>	    		
		</div>
    </script> 
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/template-web.js"></script>
	<script src="js/common.js"></script>
	<script src="js/header.js?v=1.0.1"></script>
	<script src="js/login.js"></script>
	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container',{
			loop:true,
		    pagination: {
		        el:'.swiper-pagination',
		        clickable: true,
		    },
			autoplay:1000
		});
		$('.app-pic-cell').on('touchstart',function(){
			$(this).children('.geo-transform').css({
				'z-index':5,
				'background':'#ff7c00',
				'color':'#ffffff',
				'transform':'translate(0, -3rem)',
				'-webkit-transform':'translate(0, -3rem)'
			}).find('label').css('color','#ffffff')
		});
		$('.app-pic-cell').on('touchend',function(){
			$(this).children('.geo-transform').css({
				'z-index':4,
				'background':'#ffffff',
				'color':'#a7a6a6',
				'transform':'translate(0, 0)',
				'-webkit-transform':'translate(0, 0)'
			}).find('label').css('color','#1a1712')
		});
        
        /*导航*/
        var changeHtml = template('change',inithead());
        $(".slidenav-cells").html(changeHtml);
        /*主要内容*/
        var info = ruidetail(GetQueryString('id')).info;
        var context = template('context',ruidetail(GetQueryString('id')).info);
        $(".app-content").html(context);
        var html_1 = '<div class="this-title-1">'
	    			+'<h4>在格拉斯小镇设计中,我们如何打造多专业?</h4>'
	    		    +'</div>'
	    		    +'<div class="this-content-1">'
	    		    + info.content
	    		    +'</div>';
	    $('.content-down').html(html_1);
	    /*其他内容*/
	    var id = GetQueryString('id');
	    var typeid = GetQueryString('typeid');
		$.each(ruidother(),function(i,v){
			var html = '<div class="app-pic-list">'
							+'<div class="app-pic-cell">'
								+'<a href="ruiDetail.html"><img src="'+pubUrl+v.pic_a+'" /></a>'
				    			+'<div class="content-cell-right">'
				    				+'<div class="cell-title">'
				    					+'<h3>'+pubUrl+v.title+'</h3>'
				    					+'<h4>'+pubUrl+v.title_bit+'</h4>'
				    				+'</div>'
				    				+'<div class="cell-time">'
				    					+'<img src="img/time.png" />'
				    					+'<span>'+v.createtime+'</span>'
				    				+'</div>'
				    				+'<div class="cell-content">'
				    					+v.content
				    				+'</div>'
				    			+'</div>'	
							+'</div>'
						+'</div>';	
		    $('.app-con').append(html)
		})
        /*底部菜单*/
       footerImg() 
	</script>
</body>
</html>