<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>设计力量</title>
    <link rel="stylesheet" href="css/rem.css" />
    <link rel="stylesheet" href="css/iconfont.css" />
    <link href="css/swiper.min.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/exchange.css" />
    <link rel="stylesheet" href="css/build.css" />
    <link rel="stylesheet" href="css/powerDesigner.css" />
    <style type="text/css">
        .other-point{
            margin:4rem 0 2rem
        }
        .app-wrapper .bg{
        	color:#1e1e1e
        }        
    </style>    
</head>
<body>
	<div class="container">
		<div class="app-wrapper">
            <div class="bg gray">
                <p>Design Guarantee</p>
            </div>			
			<header class="global-nav">
				<div class="primary-wrapper module-pad">
					<div class="primary-container">
						<a class="logo">
							<img src="img/logo.png" />
						</a>
						<div class="icons">
							<i class="icon iconfont icon-daohangpinlei"></i>
							<i class="icon iconfont icon-guanbi"></i>
						</div>
					</div>
					<!-- 导航 -->
					<div class="slide-navlist" id="1">
						<ul class="slidenav-cells">
							<li class="slidenav-cell">
								<a href="index.html">
									<span class="slidenav-cell-left">首页</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									
								</a>
							</li>
							<li class="slidenav-cell">
								<a href="JavaScript:;" id="second">
									<span class="slidenav-cell-left">案例赏析</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									
								</a>
								<!-- 案例赏析 - 子菜单 -->
								<ul class="slidenav-cells-second">
									<li class="slidenav-cell slidenav-active slidenav-cell-index-second">
										<a href="javascript:;">
											<img class="left-pic" src="img/left_arrow.png" alt="">
											<span class="slidenav-cell-left">案例赏析</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="case.html">
											<span class="slidenav-cell-left">设计界</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">设计师案例</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
								</ul>
							</li>
							<li class="slidenav-cell">
								<a href="build.html">
									<span class="slidenav-cell-left">楼盘动态</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
								</a>
							</li>
							<li class="slidenav-cell slidenav-active">
								<a id="fourth">
									<span class="slidenav-cell-left">设计力量</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									
								</a>
								<!-- 设计力量 - 子菜单 -->
								<ul class="slidenav-cells-second">
									<li class="slidenav-cell slidenav-cell-index-second">
										<a href="javascript:;">
											<img class="left-pic" src="img/left_arrow.png" alt="">
											<span class="slidenav-cell-left">设计力量</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell slidenav-active">
										<a href="power.html">
											<span class="slidenav-cell-left">产品设计部</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">工程部</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">深化设计部</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">生态设计部</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">庭院设计部</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">预算部</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">睿缔纷凡</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
								</ul>
							</li>
							<li class="slidenav-cell">
								<a href="BusinessArea.html">
									<span class="slidenav-cell-left">业务领域</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									
								</a>
							</li>
							<li class="slidenav-cell">
								<a href="RedefiningStrength.html">
									<span class="slidenav-cell-left">睿缔实力</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									
								</a>
							</li>
							<li class="slidenav-cell">
								<a href="designPoint.html">
									<span class="slidenav-cell-left">设计观点</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									
								</a>
							</li>
							<li class="slidenav-cell">
								<a id="fifth">
									<span class="slidenav-cell-left">关于我们</span>
									<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									
								</a>
								<!-- 关于我们 - 子菜单 -->
								<ul class="slidenav-cells-second">
									<li class="slidenav-cell slidenav-cell-index-second">
										<a href="javascript:;">
											<img class="left-pic" src="img/left_arrow.png" alt="">
											<span class="slidenav-cell-left">关于我们</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="about.html">
											<span class="slidenav-cell-left">企业文化</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>									
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">联系我们</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
									<li class="slidenav-cell">
										<a href="#">
											<span class="slidenav-cell-left">工作机会</span>
											<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
										</a>
									</li>
								</ul>												
							</li>											
						</ul>
						<div class="nav-login">
							<button class="btns" id="login">登录 / 注册</button>
							<div class="login-success">
								<a href="personLoginOut.html"><img src="img/person_pic.png" /></a>
								<span id="loginOut">退出登录</span>
							</div>
							<button class="btns" id="price">快速报价</button>
							<p>热线  4008-513-228</p>
						</div>						
					</div>
				</div>
			</header>
			<section class="app-content">
				<img src="img/designer_person.png" />
			</section>
		</div>
		<div class="app-contents">
	        <div class="design">

	        </div>
		</div>
		<div class="other-point">
			<span class="relate">Other  related</span>
			<div class="other-line"></div>
		</div>
		<div class="category">
	
		</div>
	    <div class="footer">
	    	<img src="img/bottom-logo.png" class="footer-logo" />
		  	<div class="bottom-nav">
		  	    <span>签约合作</span>
		  	    <span>联系我们</span>
		  	    <span>工作机会</span>
		  	    <span>法律信息</span>
		  	</div>
		  	<div class="bottom-down">
		  		<span>关注 Redefining</span>
		  		<div class="bottom-logo">
		  			<img src="img/sina.png" />
		  			<img src="img/weixin.png" />
		  			<img src="img/QQ.png" />
		  		</div>
		  	</div>
		  	<p>京公网安备11010502025574 · 京ICP证150031号</p>
	    </div>
	</div>
	<div class="weui-skin_android" id="androidActionsheet" style="display: none">
		<div class="weui-mask"></div>
		<div class="weui-actionsheet">
			<div class="shutdown">
				<img src="img/close.png"  />
			</div>
			<div class="login-window">
				<div class="login-top">
					<label>Hi,Friends!</label>
					<p>Welcome to Redefining Habitat</p>
				</div>
				<div class="login-middle">
					<div class="login-phone">
						<input placeholder="请输入手机号" type="text" class="phone-number" />
						<div class="tip"></div>
					</div>
					<div class="login-phone">
						<input placeholder="请输入验证码" type="text" class="phone-check" />
						<div class="tip"></div>
						<span class="btn-get">获取验证码</span>
					</div>
				</div>
				<span class="check-tips">1小时之内只能发送3次</span>	        		
				<div class="login-bottom">
					<button class="btn-submit" id="logins">登录</button>
				</div>
			</div>
			<div class="price-window">
				<div class="login-top">
					<label>快速获取装修报价</label>
				</div>	 
				<div class="price-middle">
					<input type="text" placeholder="您的姓名" />
					<input type="text" placeholder="手机号" />
					<input type="text" placeholder="楼盘名称" />
					<input type="text" placeholder="房屋面积" />
				</div>
				<div class="login-bottom">
					<button class="btn-submit btn-yellow">获取报价</button>
					<p class="price-phone">免费咨询热线: 400-512-228</p>
				</div>	        		
			</div>
		</div>
	</div>
    <script id="designer" type="text/html">
        <div class="design-tl">
            <div class="desigin-see">
                <img src="img/fenfanS_19.png" alt="">
                <span>1206</span>
                <img src="img/thumbs_up_3.png" alt="">
                <span>500</span>
            </div>
        </div>
        <div class="design-info">
			<div class="art-content-cell">
				<h4>{{name}}</h4>
				<p>{{job}}</p>
			</div>
			<div class="art-content-cell">
				<h5>行业资质</h5>
				<p>{{works}}</p>
				<p>{{jobExceprience}}</p>
			</div>
			<div class="art-content-cell">
				<h5>从业经历</h5>
				<p>{{experience}}</p>
			</div>	
			<div class="art-content-cell">
				<h5>荣获奖项</h5>
				<p>{{winningPrize}}</p>
			</div>	
			<div class="art-content-cell">
				<h5>主要作品</h5>
				<p>(平面公寓类）</p>
			</div>
			<div class="art-content-cell">
				<h5>设计理念</h5>
				<p>{{designIdea}}</p>
			</div>	
			<div class="art-bottom">
				<button class="btn btn-block btn-money">找TA设计</button>
				<button class="btn btn-block">在线咨询</button>
			</div> 
			<div class="middle-bottom">
				<img src="img/designDetail_10.png" />
				分享		    				
			</div>	    			
        </div>
    </script>
    <script id="change" type="text/html">
        {{each data}}
			<li class="slidenav-cell">
				{{if $value.child.length > 0}}
					<a href="JavaScript:;" class="slidenav-most">
						<span class="slidenav-cell-left">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>
					<ul class="slidenav-cells-second">
						<li class="slidenav-cell slidenav-cell-index-second">
							<a href="javascript:;">
								<img class="left-pic" src="img/left_arrow.png" alt="">
								<span class="slidenav-cell-left">{{$value.name}}</span>
								<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
							</a>
						</li>
						{{include 'changes' $value}}
					</ul>
				{{else}}
					<a href="{{$value.url}}?id={{$value.id}}">
						<span class="slidenav-cell-left" id="{{$value.id}}">{{$value.name}}</span>
						<span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>
					</a>				
				{{/if}}
			</li>            
        {{/each}}    	
    </script>
    <script id="changes" type="text/html">
        {{each child}}
			<li class="slidenav-cell">
				{{if $value.pid==41}}
				<a href="{{$value.url}}">
				{{else}}
				<a href="{{$value.url}}?id={{$value.id}}">
				{{/if}}
					<span class="slidenav-cell-left">{{$value.name}}</span>
					<!-- <span class="slidenav-cell-right"><i class="iconfont icon-youjiantou"></i></span>									 -->
				</a>
			</li>          
        {{/each}} 
    </script>
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/template-web.js"></script>
	<script src="js/common.js"></script>
	<script src="js/header.js?v=1.0.1"></script>
	<script src="js/login.js"></script>
	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container',{
			loop:true,
		    pagination: {
		        el:'.swiper-pagination',
		        clickable: true,
		    },
			autoplay:1000
		});
		var mySwiper = new Swiper('.swiper-containers',{
			loop:true,
		    pagination: {
		        el:'.swiper-pagination',
		        clickable: true,
		    },
			autoplay:1000
		});
        
        /*导航*/
        var changeHtml = template('change',inithead());
        $(".slidenav-cells").html(changeHtml);	
		var data = designerDetail(GetQueryString('id'));
		data && $('.app-content').children('img').attr('src',pubUrl+data.headphoto);
		var htmls = template("designer",data);
		$('.design').html(htmls);
		
		/* 设计师浏览量 */
		var visitFn = function(){
			$.ajax({
				type: 'post',
				url: pubUrl + '/designer/visit',
				data:{
					'id': GetQueryString('id')
				},
				dataType: 'json',
				async: false,
				success: function(data){
					console.log(data)
				},
				error: function(err){
					console.log(err)
				}					
			});
		}()

	</script>
</body>
</html>